.material-symbols-rounded {
    font-variation-settings: 'FILL' 0,
        /* on (1), off (0) */
        'wght' 700,
        /* 100 => 700 */
        'GRAD' 200,
        /* -25, 0, 200 */
        'opsz' 48;
    /* 20, 24, 40, 48 */
}

/*============================== 
  
  ================================ */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: 'Playfair', serif; */
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Tajawal', sans-serif;
}

body {
    overflow-x: hidden;
    background-color: #79a3a5;
    min-height: 100vh;
    /* height: 4000px; */
    /*  */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

/*============================== 
  
  ================================ */

.container {
    width: 600px;
    height: min-content;
    margin: 20px 0 0 0;
    padding: 20px;
    background-color: rgb(53, 51, 48);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.container ul {
    list-style: none;
    display: flex;
    width: 300px;
    gap: 10px;
}

.container ul li {
    width: calc(100% / 4);
    height: 50px;
    cursor: pointer;
    opacity: 0.3;
}

.active {
    opacity: 1 !important;
}

/* .container ul li:hover {
  } */

.container ul li:nth-child(1) {
    background-color: red;
}

.container ul li:nth-child(2) {
    background-color: blue;
}

.container ul li:nth-child(3) {
    background-color: green;
}

.container ul li:nth-child(4) {
    background-color: yellow;
}

.container .result {
    width: 90%;
    height: 150px;
    background-color: #79a3a5;
}